[Unit]
Description=Automates voting on installed and uninstalled AUR packages

[Service]
Type=simple
ExecStart=/home/lucas/Documentos/scripts/aur_vote.sh

