[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/mnt/archlinux/Games/Blasphemous/start.sh
GenericName[pt_BR]=
GenericName=
Icon=/mnt/archlinux/Games/Blasphemous/blasphemous___icon_by_glassjester128_delusb1.png
MimeType=
Name[pt_BR]=Blasphemous
Name=Blasphemous
NoDisplay=false
Path=/mnt/archlinux/Games/Blasphemous
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
