[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/home/lucas/Documentos/scripts/blasphemous_auto_push_save_to_github.sh
GenericName[pt_BR]=
GenericName=
Icon=9A98_goggame-2068474256.0
MimeType=
Name[pt_BR]=Blasphemous
Name=Blasphemous
NoDisplay=false
Path=/mnt/archlinux/Games/Blasphemous
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
