[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/home/lucas/Documentos/scripts/ativar_desativar_compositor.sh desativar; WINEPREFIX='/mnt/archlinux/Games/Darkwood'  /opt/wine-tkg-staging-fsync-opt-git/bin/wine Darkwood.exe && /home/lucas/Documentos/scripts/ativar_desativar_compositor.sh ativar
GenericName[pt_BR]=
GenericName=
Icon=/mnt/archlinux/Games/Darkwood/gutph65osvh81.png
MimeType=
Name[pt_BR]=Darkwood
Name=Darkwood
NoDisplay=false
Path=/mnt/archlinux/Games/Darkwood/drive_c/Program Files (x86)/Darkwood
StartupNotify=true
Terminal=false
TerminalOptions=background-mode
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
