[Desktop Entry]
Comment=
Exec=WINEDEBUG=-all WINEPREFIX='/mnt/archlinux/Games/DarkDevotion' wine DarkDevotion.exe
Icon=/mnt/archlinux/Games/DarkDevotion/goggame-1487359513.ico
Name=Dark Devotion
NoDisplay=false
Path=/mnt/archlinux/Games/DarkDevotion
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
