[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=WINEDEBUG=-all WINEPREFIX=/home/lucas/.wine_deadcell /usr/bin/gamemoderun /opt/wine-tkg-staging-fsync-opt-git/bin/wine deadcells_gl.exe
GenericName[pt_BR]=
GenericName=
Icon=9B30_deadcells_gl.0
MimeType=
Name[pt_BR]=Dead Cells: The Queen and the Sea
Name=Dead Cells: The Queen and the Sea
NoDisplay=false
Path=/mnt/archlinux/Games/Dead Cells The Queen and the Sea
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
