[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Children of Morta
GenericName=Children of Morta
Comment=Children of Morta
Icon=/mnt/archlinux/Games/Children of Morta/support/icon.png
Exec="/mnt/archlinux/Games/Children of Morta/start.sh" ""
Categories=Game;
Path=/mnt/archlinux/Games/Children of Morta

