[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=WINEDEBUG=-all WINEPREFIX='/mnt/archlinux/Games/Record of Lodoss War Deedlit in Wonder Labyrinth' /opt/wine-tkg-staging-fsync-opt-git/bin/wine Deedlit\\ in\\ Wonder\\ Labyrinth.exe
GenericName[pt_BR]=
GenericName=
Icon=/mnt/dados/Games/Record of Lodoss War Deedlit in Wonder Labyrinth/256x256.png
MimeType=
Name[pt_BR]=Record of Lodoss War - Deedlit in Wonder Labyrinth
Name=Record of Lodoss War - Deedlit in Wonder Labyrinth
NoDisplay=false
Path=/home/lucas/Games/Record of Lodoss War Deedlit in Wonder Labyrinth/drive_c/Record.of.Lodoss.War.Deedlit.in.Wonder.Labyrinth
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
