[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/home/lucas/Documentos/scripts/start_Win7_vm_and_samba.sh
GenericName[pt_BR]=
GenericName=
Icon=/home/lucas/Games/vm/UNO_103.ico
MimeType=
Name[pt_BR]=UNO
Name=UNO
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
