[Desktop Entry]
Comment=
Exec=/usr/bin/VBoxManage startvm "Windows 7"
Icon=steam_icon_470220
Name=UNO
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
