[Desktop Entry]
Type=Application
Name=Calculator
Exec=waydroid app launch com.android.calculator2
Icon=/home/lucas/.local/share/waydroid/data/icons/com.android.calculator2.png
